<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <!-- As a heading -->
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-md">
            <a class="navbar-brand" href="/board/list">Home</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="/member/list">member</a>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <a class="btn btn-outline-primary me-2" href="/auth/login" role="button" th:if="${session.member == null}">Login</a>
                <a class="btn btn-primary" href="/member/insert" role="button" th:if="${session.member == null}">Sign-up</a>
                <a class="btn btn-outline-primary me-2" href="/auth/logout" role="button" th:unless="${session.member == null}">Logout</a>
            </div>
        </div>
    </nav>
</header>
</html>