<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>

<div layout:fragment="content" class="container">
    <h1>상세보기</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${post.title}"></h5>
            <p class="card-text" th:text="${post.content}"></p>
            <br>
            <div style="display:flex;">
                <a th:href="@{/board/insert}" role="button" class="btn btn-primary">글 쓰기</a>
                <a th:href="@{/board/update/{id}(id=${post.id})}" role="button" class="btn btn-secondary">수정하기</a>
                <form th:action="@{/board/delete}" method="post">
                    <input type="hidden" name="id" th:value="${post.id}">
                    <button type="submit" class="btn btn-danger">삭제하기</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <br>

    <!-- 댓글 쓰기 -->
    <div class="container">
        <form th:action="@{/board/comment/{id}(id=${post.id})}" method="post" class="row g-3">
            <input type="hidden" name="post_id" th:value="${post.id}"/>
            <div class="col-auto">
                <label for="content" class="form-label">댓글 작성하기</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="content" name="content" placeholder="내용을 입력하세요.">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit">등록</button>
            </div>
        </form>
    </div>

    <!-- 댓글 리스트 -->
    <div class="container">
        <div class="comments" th:each="comment : ${comments}">
            <span th:text="${comment.id}"></span>
            <p th:text="${comment.content}"></p>
            <p th:if="${writer_id == null}">익명</p>
            <hr>
        </div>
    </div>
</div>

</html>