<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>

<div layout:fragment="content" class="container">
    <th:block th:if="${session.member}">
        <h1 th:text="${session.member.getName()} + '님 안녕하세요'"></h1>
    </th:block>
    <th:block th:unless="${session.member}">
        <h1>리스트 페이지</h1>
    </th:block>
    <div class="buttonAndSearch">
        <a th:href="@{/board/insert}" role="button" class="btn btn-primary">글 쓰기</a>
        <div>
            <form class="d-flex" th:action="@{/board/list}" method="get">
                <select class="form-control" name="searchType">
                    <option value="title">title</option>
                    <option value="content">content</option>
                </select>
                <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search" id="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postList}">
            <td th:text="${post.id}">1</td>
            <td><a th:text="${post.title}" th:href="@{/board/{id}(id=${post.id})}"></a></td>
            <td th:unless="${post.writer_id}">익명</td>
            <td th:if="${post.writer_id}" th:text="${post.writer_id}"></td>
            <td th:text="${post.views}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination" th:with="start=${pageMaker.getStartPage()}, end=${pageMaker.getEndPage()}">
                <li class="page-item" th:if="${pageMaker.isPrev()}">
                    <a class="page-link" aria-label="Previous" th:href="@{/board/list(page = ${pageMaker.getPrevNum()})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="page : ${#numbers.sequence(start, end)}" th:class="${page} == ${pageMaker.getPage()} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/board/list(page = ${page})}" th:text="${page}">#</a>
                </li>
                <li class="page-item" th:if="${pageMaker.isNext()}">
                    <a class="page-link" aria-label="Next" th:href="@{/board/list(page = ${pageMaker.getNextNum()})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</html>