<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>

<div layout:fragment="content" class="container">
    <h1>글 수정</h1>
    <form th:action="@{/board/update}" method="post">
        <div>
            <input type="hidden" name="id" th:value="${post.id}">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${post.title}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" rows="3" id="content" name="content" th:text="${post.content}"></textarea>
        </div>
        <a th:href="@{/board/list}" role="button" class="btn btn-primary">뒤로가기</a>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>
</html>